# Derleme ve Çalışma Zamanı Klasörleri
bin/
obj/
.vscode/
wwwroot/uploads/


# Kullanıcıya Özel Ayarlar
appsettings.Development.json
*.user

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db

# Şifrelerin olduğu dosyaları GitHub'a GÖNDERME
appsettings.json

docker-compose.yml

compose.yaml

.env
wwwroot/uploads

